<div class="d-flex justify-between align-center mb-4">
  <div class="shadow-lg radius-6 d-inline-b">
    <p-selectButton [options]="selectionBtn"
                    [(ngModel)]="selectionValue"
                    optionLabel="name"
                    optionValue="value"></p-selectButton>
  </div>

  <p-button icon="pi pi-plus"
            label="Add Person"
            routerLink="add-person"
            [raised]="true"></p-button>
</div>

@switch (selectionValue) {
  @case (1) {
    <app-employees-all
      [employees]="employees" />
  }
  @case (2) {
    <app-employees-teams
      [employeesTeam]="employeesTeam" />
  }
  @case (3) {
    <app-employees-offices />
  }
}

