<div class="row shadow-lg radius-6 p-3">
  <div class="col-md-12">
    <div class="row">
      @for (employeeTeam of employeesTeam; track employeeTeam; let i = $index) {
        <div [class.padding-right-10]="i % 2 === 0"
             [class.padding-left-10]="i % 2 !== 0"
             class="col-md-6 padding-left">
          <div class="card">
            <div class="card-header">
              <div class="employee-head">
                <h2>{{ employeeTeam.team }}</h2>
                <ul>
                  @for (teamAction of teamActions; track teamAction) {
                    <li>
                      <a [class]="teamAction.class" (click)="editDelete(teamAction.id, $event)">
                        <i [class]="teamAction.icon"></i>
                      </a>
                    </li>
                  }
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="employee-content">
                <div class="employee-image">
                  <div class="avatar-group">
                    <div class="avatar avatar-xs group_img group_header">
                      <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/avatar-14.jpg">
                    </div>
                    <div class="avatar avatar-xs group_img group_header">
                      <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/avatar-15.jpg">
                    </div>
                  </div>
                </div>
                <a class="btn-addmember">Add Members</a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<p-dialog header="Edit Employee"
          [(visible)]="visibleEdit"
          [draggable]="false"
          [modal]="true"
          [style]="{width: '30vw'}">
  <form [formGroup]="teamForm" (ngSubmit)="addEditTeam()" novalidate>
    <div class="field">
      <label for="name" class="block">Team</label>
      <input type="text" pInputText placeholder="Team name" formControlName="name" />
    </div>

    <div class="d-flex team-action mt-3">
      <button class="btn btn-secondary" pButton type="submit" label="Add" [disabled]="teamForm.invalid"></button>
      <button class="btn btn-danger" pButton type="submit" label="Cancel" (click)="visibleEdit = false"></button>
    </div>
  </form>
</p-dialog>
