h3, h6 {
  line-height: 0;
}

h6 {
  font-weight: 400;
  font-size: 15px;
}

.b-bottom {
  border-bottom: solid 1px rgba(137, 137, 137, 0.25);
}

.w-full span {
  margin-right: 5px;
}

.p-avatar {
  width: 5rem;
  height: 5rem;
}

.font-bold {
  font-size: 21px;
  color: black;
  font-weight: 500;
}
